<h1 class='header'>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<% if @articles.any? %>
  <ol class='list'>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li>
          <%= link_to article.title, article, class: 'link' %> by
          <%= link_to article.author.full_name, author_path(article.author.id), class: 'link' %> 
        </li>
      <% end %>
    <% end %>
  </ol>
<% end %>

<%= link_to 'New Article', new_article_path, class: 'button' %>
