<h1 class='header'>Authors</h1>

<ol class='list'>
  <% @authors.each do |author| %>
    <li>
      <%= link_to author.full_name, author_path(author.id), class:'link' %> 
    </li>
  <% end %>
</ol>

<%= link_to "New Author", new_author_path, class:'button' %>
